.venv/
venv/

__pycache__/
*.pyc
*.pyo
*.pyd

.env

database/*.db
database/*.db-journal
database/*.db-shm
database/*.db-wal

backups/*
!backups/.gitkeep

exports/*
!exports/.gitkeep

responsivas/*
!responsivas/.gitkeep

.vscode/
.idea/
.vs/

.DS_Store
Thumbs.db